.container-signin {
    width: 100%;
    height: 100vh;
  
    display: flex;
    flex: 1;
  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eaeaff;
  }
  
  
  
  .user {
    display: flex;
    align-items: center;
    flex-direction: column;
  
    margin-bottom: 64px;
  
    >img {
      width: 140px;
      height: 140px;
      border-radius: 70px;
      margin-bottom: 16px;
    }
  }

  .primary-field-signin{
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    width: 1000px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }

  .login{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  .login-logo{
     border-radius: 5px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 50%;
     height: 100%;
     background-color: #eaeaff;
     gap: 80px;
     >img{
      width: 50%;
      height: 50%;
     }
     >h1{
      font-family: 'Poppins', sans-serif;
      font-size: 40px;
      margin-bottom: 20px;
      color: #1a1a1d;
     }
  }


  .login-camp{    
    //background-color: #29292e;
    color: #1a1a1d;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //margin-left: 50px;
    //padding: 20px;
    width: 50%;
    height: 100%;
    display: flex;

    >h1 {
      font-size: 40px;
      margin-bottom: 20px;
      color: #1a1a1d;
    }

    >h4 {
      font-weight: 300;
      margin-top: 40px;
      font-size: 15px;
      font-weight: 500;
      color: #1a1a1d;
    }

    >button {
      width: 80%;
      background-color: #009ddc;
      //color: #eff2f5;
      font-weight: 800;
      height: 50px;
      border-radius: 5px;
      font-size: 18px;
      margin-top: 5px;
      border: none;
      opacity: 0.9;
      

      transition: background-color .3s;
      &:hover {
        background-color: #6761a8;
      }
    }  
    
      .remember{
        margin-bottom: 20px;
        color: #32324f;
        font-weight: 400;
        font-size: 14px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
       

    }
    
    .remember a{
        text-decoration: none;
        color: #4aa4ee;
        margin-left: 140px;
    }
    .content-box .form-box .remember a:hover{
        color: #3286ca;
    }



  }

 

  .login-input-email{
    display: flex;
    align-items: center;
    color: #e1e1e6;
    background-color: #009ddc;
    border-radius: 5px;
    padding: 3px;
    width: 80%;
    height: 50px;
    opacity: 0.9;

    >svg {
      margin-left: 10px;
      font-size: 25px;
    }

    >input {
      background: transparent;
      width: 100%;
      outline-width: 0;
      color: #e1e1e6;
      border: none;
      font-size: 17px;
      margin-left: 10px;
      margin-right: 10px;
    }
    ::placeholder{
      color: #e1e1e6;
      font-weight: 500;
      font-family: 'Poppins', sans-serif;
    }
  }

  .login-input-password{
    display: flex;
    align-items: center;
    color: #e1e1e6;
    background-color: #009ddc;   
    opacity: 0.9;
    padding: 3px;
    margin: 5px;
    width: 80%;
    height: 50px;
    border-radius: 5px;

    >svg {
      margin-left: 10px;
      font-size: 25px;
    }

    >input {
      background: transparent;
      width: 100%;
      outline-width: 0;
      color: #e1e1e6;
      border: none;
      font-size: 17px;
      margin-left: 12px;
      margin-right: 10px;
    }    
    ::placeholder{
      color: #e1e1e6;
      font-weight: 500;
      font-family: 'Poppins', sans-serif;
    }
  }

 .login-google{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h4 {
      margin-top: 40px;
      font-size: 15px;
      font-weight: 600;
      color: #1a1a1d;
      font-family: 'Poppins', sans-serif;

    } 
    button{
      background-color: #eaeaff;
      width: 40; 
      height: 40;
      font-size: 40px;
      border: none;
    }     
 }

  .login-inscricao{
    width: 85%;
    display: flex;
    align-items: center;
    margin: 10px;    

    link-inscricao {
      text-decoration: underline;
      color: #036ee0;
    }   

    Link {
      margin-left: 10px;
      &:hover {
        color: #009ddc;
      }
    }
    h4{
      margin-left: 10px;
    }
  }

  
  @media (max-width: 767px) {
 
    .primary-field-signin{
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
      width: 1000px;
      height: 500px;
      display: flex;
      align-items: center;
      justify-content: center;

    .login-logo{
      display: none;
    }
    
    .login-camp{
      //background-color: #29292e;
    color: #1a1a1d;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //margin-left: 50px;
    //padding: 20px;
    width: 45%;
    height: 100%;
    display: flex;

    >h1 {
      font-size: 40px;
      margin-bottom: 20px;
      color: #1a1a1d;
    }

    >h4 {
      font-weight: 300;
      margin-top: 40px;
      font-size: 15px;
      font-weight: 500;
      color: #1a1a1d;
    }

    >button {
      width: 80%;
      background-color: #009ddc;
      //color: #eff2f5;
      font-weight: 800;
      height: 50px;
      border-radius: 5px;
      font-size: 18px;
      margin-top: 5px;
      border: none;
      opacity: 0.9;
      

      transition: background-color .3s;
      &:hover {
        background-color: #6761a8;
      }
    }  
    
      .remember{
        margin-bottom: 20px;
        color: #32324f;
        font-weight: 400;
        font-size: 14px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        margin-left: 20px;

    }
    
    .remember a{
        text-decoration: none;
        color: #4aa4ee;
        margin-left: 50px;
    }
    .content-box .form-box .remember a:hover{
        color: #3286ca;
    }
    }
  

  }
  

  }
